body {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    height: 112vh;
}

.side-bar {
    position: relative;
    flex: 1;
}

.bg {
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 112vh;
}


.logo-container {
    width: 100%;
    color: white;
    display: flex;
    position: absolute;
    top: 22vh;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold, sans-serif;
    font-size: 12vmin;
}

.logo {
    max-height: 25vh;
    max-width: 8vw;
    padding: 2vh;
}

.header {
    background-color: #f9fafb;
    padding: 20vh 2vw 5vh 2vw; /* top right bottom left */
    font-weight: bold;
    font-size: 3vmin;
}

.form-modal {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
    column-gap: 4vw;
    padding-left: 3vw;
    padding-right: 2vw;;
}

input {
    width: 16vw;
    height: 3vh;
    border: 1px solid #E5E7EB;
    border-radius: 6px;;
}

label {
    font-size: 1.5vmin;
    font-weight: bold;
    color: rgb(68, 66, 66);
}

.focus:focus {
    outline: none !important;
    border:1px solid blue;
    box-shadow: 0 0 2px black;
}

legend {
    font-size: 3.5vmin;
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-weight: bold;
}

.footer {
    background-color: #f9fafb;
    margin-top: 4vh;
    padding-top: 4vh;
    font-size: 2vmin;
    padding-left: 3vw;
    flex: 1;
}

.footer a {
    text-decoration: none;
    color :#596D48;
    font-weight: bold;
}

button {
    font-size: 2vmin;
    padding: 1vmin 2vmin;
    color: white;
    background-color: #596d48;
    font-weight: bold;
    border: 1px solid #596d48;
    border-radius: 6px;
    box-shadow: 0 0 2px black;
}

.photo-cred {
    position: absolute;
    bottom: 1.5vh;
    color: rgba(255,255,255,0.7);
    width: 100%;
    text-align: center;
}

.photo-cred a {
    color: rgba(255,255,255,0.7);
}

.error,
input:invalid {
    border-color: red;
}

#error-message {
    font-style: italic;
    color: red;
    font-size: 2vmin;
}

form {
    flex: 1;
}